@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

@keyframes carousel-animate-vertical {
  0% {
    transform: translateY(100%) scale(0.5);
    opacity: 0;
  }
  3%,
  14.2857% {
    transform: translateY(100%) scale(0.7);
    opacity: 0.4;
  }
  17.2857%,
  28.5714% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  31.5714%,
  42.8571% {
    transform: translateY(-100%) scale(0.7);
    opacity: 0.4;
  }
  45.8571% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
  }
}

.carousel-item {
  position: absolute;
  opacity: 0;
  will-change: transform, opacity;
  animation: carousel-animate-vertical 21s linear infinite;
}